:root {
 font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
 line-height: 1.5;
 font-weight: 400;
 box-sizing: border-box;
 font-synthesis: none;
 text-rendering: optimizeLegibility;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
 background-color: #e2e8f0;

 .dark {
  background-color: #0c0a09;
 }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
